<div class="bottom-feed-aa">
    <!-- had to remove: data-ad-format=fluid data-ad-layout-key=-dv+4x-26-f1+1al because not supported properly in amp, but could probably do them with json-->
    <amp-ad layout="responsive" width="300" height="250" type="adsense"
        data-ad-client="ca-pub-3248552182676022" data-ad-slot="6143576413" data-loading-strategy=3>
        <!-- <div placeholder class"btm-placeholder">Loading ...</div> -->
        <!-- <div fallback class"btm-placeholder">No ad for you my friend :)</div> -->
        <div overflow>Click to resize</div>
    </amp-ad>
</div>