<div class="bottom-aa-post">
    <!-- had to remove: data-ad-layout="in-article" data-ad-format="fluid" -->
    <amp-ad layout="responsive" width="300" height="250" type="adsense" data-ad-client="ca-pub-3248552182676022"
        data-ad-slot="4223990086" data-loading-strategy="prefer-viewability-over-views">
        <div class="btm-placeholder" placeholder>Loading something...</div>
        <div class="btm-placeholder" fallback>...No ad for you my friend :)</div>
        <div overflow>Click to resize</div>
    </amp-ad>
</div>