---
layout: default
---
<main class="content" role="main">
  <article class="post">
    <div class="post-meta">
      <h2 class="post-title">{{ page.title }}</h2>
    </div>

    <section class="post-content">
      <a name="topofpage"></a>
      {{content}}
      {% include post-ad.html %}
    </section>
    <footer class="post-footer">
      <section class="share">
        <p>Share this post:</p>
        <div class="share-flex">
          <amp-social-share type="system" data-mode="replace"></amp-social-share>
          <amp-social-share type="facebook" data-param-app_id="458883514568847" data-param-quote="{{page.title | escape}} via @Dogeminer"></amp-social-share>
          <amp-social-share type="twitter" data-param-text="{{ page.title | escape }} (via @{{ site.twitter_username }})"></amp-social-share>
          <amp-social-share type="gplus"></amp-social-share>
          <amp-social-share type="tumblr"></amp-social-share>
          <amp-social-share type="email"></amp-social-share>
          <!-- <a class="icon" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.id }}&text={{page.title | cgi_escape}}&via={{ site.twitter_username }}" target="_blank">
          Share on
          {% include icon-twitter.html %}
        </a> -->
      </div>
      </section>
    </footer>
    <div class="bottom-teaser cf">
      <div class="isLeft">
        <h5 class="index-headline featured"><span>DEVELOPER</span></h5>
        <section class="author">
          <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" class="freelink"><div class="author-image"></div></a>
          <h4><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" class="freelink">{{ site.name }}</a></h4>
          <p class="bio">{{site.bio}}</p>
          <p>
            <span>
              {% if site.twitter_username %}
                {% include icon-twitter.html username=site.twitter_username %}
              {% endif %}
            </span>
          </p>
          <hr>

        </section>
      </div>
    </div>
    <section class="comment-section">
      {% include disqus.html %}
    </section>
  </article>
</main>
